#slideshow { 
    margin: 10px auto; 
    position: relative; 
    width: 100%; 
    height: 360px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
}
